
body {

    background-image: url(./assets/images/Intro.png);
}


.grid-template-rows {
    
    display: grid;
    grid-template-rows: auto; /* Garante que os elementos sejam empilhados verticalmente */
    gap: 20px; /* Espaçamento entre os elementos */
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 5%;
    margin-right: 700px;
   
   
}
   

header {
    display: grid;
    grid-template-rows: auto; /* Empilha os elementos do header verticalmente */
    justify-items: center; /* Centraliza os itens horizontalmente */
    text-align: center;
    
    
}

.icons {


    margin-left: 50px;
}


.icon-one {
    margin-bottom: 56px;
    
    
}

.icon-two {

    margin-bottom: 56px;
    margin-left: -50px;
    margin-right: 50px;
    

}




.intro {
/* Hello World! Meu nome é Martina Santos e sou */

width: 680px;
height: 24px;
font-family: 'Inconsolata';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 120%;
text-align: center;
color: #C0C4CE;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

    
}

.bold {
 
/* Desenvolvedora Fullstack */

width: 680px;
height: 67px;
font-family: 'Asap';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 120%;
text-align: center;
color: #E2E4E9;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}


.description {
 /* Transformo necessidades em aplicações reais, evolventes e funcionais. Desenvolvo sistemas através da minha paixão pela tecnologia, contribuindo com soluções inovadoras e eficazes para desafios complexos. */

width: 680px;
height: 40px;
font-family: 'Maven Pro';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
text-align: center;
color: #878EA1;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}



.colorful {

color:#E3646E;


}

.centered {

    font-family: 'Asap';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;

}





.vector-tag {
    margin-top: 100px;
    margin-left: 525px;
}




.intro-two {

    margin-top: 90px;
    padding: 20px;            /* Espaçamento interno, se necessário */
    margin-top: 90px;
    
}


.intro-three {

    margin-top: 90px;
    padding: 20px;            /* Espaçamento interno, se necessário */
    margin-top: 90px;
    



    
}
.title-one {
 
width: 1040px;
height: 24px;
font-family: 'Inconsolata';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 120%;
text-align: center;
color: #E3646E;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

.title-two {

width: 1040px;
height: 29px;
font-family: 'Asap';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
text-align: center;
color: #E2E4E9;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}


.title-three {

     
width: 1040px;
height: 24px;
font-family: 'Inconsolata';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 120%;
text-align: center;
color: #E3646E;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

.title-four {

    /* Como posso ajudar o seu negócio */

width: 355px;
height: 29px;
font-family: 'Asap';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
text-align: center;
color: #E2E4E9;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}
