
body {

    background-image: url(./assets/images/Intro.png);
}


.grid-template-rows {
    display: grid;
    grid-template-rows: auto; /* Garante que os elementos sejam empilhados verticalmente */
    gap: 20px; /* Espaçamento entre os elementos */
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 5%;
    margin-right: 700px;
   
}
   




header {
    display: grid;
    grid-template-rows: auto; /* Empilha os elementos do header verticalmente */
    justify-items: center; /* Centraliza os itens horizontalmente */
    text-align: center;
    
}

.icons {


    margin-left: 50px;
}


.icon-one {
    margin-bottom: 56px;
    
    
}

.icon-two {

    margin-bottom: 56px;
    margin-left: -50px;
    margin-right: 50px;
    

}




.intro {
    font-size: 20px;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;   
    line-height: 120%;
    text-align: center;
    color: #C0C4CE;
   
    
}

.bold {
 
    white-space: nowrap;
    margin-top: 1%;
    margin-bottom: 4%;
    color:#E2E4E9;
    

}


.description {
    font-size: 15px;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    line-height: 15px; /* Espaçamento entre linhas igual ao tamanho da fonte */
    color: #c0c4ce;
    margin: 0; /* Remove todas as margens */
    display: inline; /* Exibe o parágrafo como inline */
    width: 700px;
}



.colorful {

color:#E3646E;


}

.centered {

    font-family: 'Asap';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;

}


.container {
    display: flex; /* Exibe os ícones em linha, lado a lado */
    gap: 10px; /* Espaçamento entre os ícones */
    justify-content: center; 
    margin-top: 80px;
}



.vector-tag {
    margin-top: 100px;
}




.intro-two {

    margin-top: 90px;
    background-image: url('assets/images/Projects.png');
    background-size: cover;    /* Faz com que a imagem cubra todo o elemento */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    padding: 20px;            /* Espaçamento interno, se necessário */
    margin-top: 90px;
    
}

.title-one {
 
width: 1040px;
height: 24px;
font-family: 'Inconsolata';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 120%;
text-align: center;
color: #E3646E;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

.title-two {

width: 1040px;
height: 29px;
font-family: 'Asap';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
text-align: center;
color: #E2E4E9;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.container-two {
    display: flex;                   /* Exibe as imagens em linha, lado a lado */
    flex-wrap: wrap;                 /* Permite que as imagens quebrem para a linha seguinte se necessário */
    justify-content: center;         /* Centraliza as imagens dentro da seção */
    gap: 10px;                       /* Espaçamento entre as imagens */
    padding: 20px;                   /* Espaçamento interno da seção */
    background-image: url('assets/images/Projects.png'); /* Caminho para a imagem de fundo */
    background-size: cover;          /* Faz com que a imagem cubra todo o elemento */
    background-position: center;     /* Centraliza a imagem dentro do elemento */
    background-repeat: no-repeat;    /* Evita a repetição da imagem */
    margin-right: -90px;
}

.project-card {
   
}
